<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button click="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Crear cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <form [formGroup]="regForm" novalidate>
    <ion-card class="register-card">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>
        <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.regForm.controls?.['correo'].touched && this.regForm.controls?.['correo'].invalid">
        <ion-text *ngIf="errorRegistro.correo.errors?.required" color="danger">Correo invalido</ion-text>
      </div>
      
        <ion-item>
    
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="pass"></ion-input>
        </ion-item>
        <div style="padding-top: -26px;padding-bottom: 16px;"
        *ngIf="this.regForm.controls?.['pass'].touched && this.regForm.controls?.['pass'].invalid">
        <ion-text *ngIf="errorRegistro.correo.errors?.required" color="danger">Contraseña invalida</ion-text>
      </div>
      
     
    
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button expand="block"  shape="round" fill="outline" color="dark" (click)="registrarse()">Registrarse</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
