<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button click="backIngreso()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Pagos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    
    <p>Ingresa datos para mostrar</p>
  </div>
</ion-content>
